body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;   
}

.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}

.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: grey;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 25px;
}